.header{
    margin-top: 20px;
}
.logo{
    margin-left: -110px;
    width: 100px;
}
.sbox{
    width: 350px;
    text-align: center;
    border-radius: 10px;
}
.navi{
  margin-left: 80px;
}
.link{
    text-decoration: none;
    word-spacing: 30px;
    color: black;
    margin-left: 20px;
}
.link:hover{
    text-decoration: underline;
}
.columc{
    display: flex;
    column-gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 2px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.bcbrand{
  background-color: red;
}


* {box-sizing: border-box;}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
body.dark {background-color: #fcff44;} 
body.dark p,body.dark a,body.dark i, body.dark .support a {color: #fff;}
.checkbox {
  opacity: 0;
  position: absolute;
}
.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-moon {color: #f1c40f;}
.fa-solid fa-moon {color: #f39c12;}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
.but{
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: yellow;
}